body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    font-family: 'Arial', sans-serif;
}

/* Container for the login form */
.login-container {
    background-color: white;
    padding: 60px; /* Set padding value here */
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title for the form */
.login-container h1 {
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

/* Input fields */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 89%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
}

/* Change background on focus for input fields */
.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    background-color: #e7e7e7;
}

/* Login button */
.login-container button {
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.login-container button:hover {
    background-color: white;
    color: white; /* Add contrasting color when hovered */
}

/* Forgotten password link */
.login-container a {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* Change color on hover for the link */
.login-container a:hover {
    color: #ff6060;
}
